<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scan for iBeacons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan for iBeacons</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <div *ngIf="uuids;else noConfig">

  </div>

  <ng-template #noConfig>
    <ion-item (click)="goToUuidsPage()">
      <ion-label>Navigate to UUIDs Page</ion-label>
    </ion-item>
  </ng-template>
</ion-content>